/*Global Style*/
body {
  margin-top: 100px;
  background-color: #f9f9f9;
}
@media (min-width: 1450px) {
  body {
    margin-top: 50px;
  }
}
#wrapper {
  padding-left: 0;
  margin-right: 200px;
}
#wrapper-inside {
 
  background-color: #f9f9f9;
  right: 0;
position: absolute;
width: 100%;
}

@media (max-width: 768px) {
  #wrapper {
    padding-left: 0px;
  }
  #wrapper-inside {
    padding: 10px;
  }
}



/*Top nav*/
.top-nav {
  padding: 0 15px;
}
.top-nav > li {
  display: inline-block;
}
.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: white;
}
.top-nav > li > a:hover .top-nav > li > a:focus {
  color: black;
}

/*sidebar styles*/

.side-nav {
  border-radius: 0;
  overflow-y: auto;
  background-color: #222;
}

  
  .side-nav > li > a:hover .side-nav > li > a:focus {
    outline: none;
    background-color: #000;
  }

.side-nav > li > ul {
  padding: 0;
}
.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}
.side-nav > li > ul > li > a:hover {
  color: #fff;
}

/*admin section dashboard*/

.huge {
  font-size: 40px;
  line-height: normal;
}
.panel-green > .panel-heading {
  color: #fff;
  background-color: #5cd85c;
}

.panel-green > a {
  color: #5cd85c;
}
.panel-red > a {
  color: #d9534f;
}

.panel-red > .panel-heading {
  color: #fff;
  background-color: #d9534f;
}

.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  color: #fff;
  background-color: #f0ad4e;
}
